<html>
        <head>
                <link rel="stylesheet" href="css/reveal.css">
                <link rel="stylesheet" href="css/theme/solarized.css">
               		<link rel="stylesheet" href="lib/css/arduino-light.css">

        </head>
        <body>
                <div class="reveal">
                        <div class="slides">
                        <section>
                           <h2>Jumpstart your projects with cookiecutter</h2>
                            <aside class="notes">
                              <li>talk slowly!!!!!!</li>
                              <li>I would like to thank the organizers</li>
                              <li>chair pyzim</li>
                              <li>django indaba</li>
                              <li>freelancer in django exploring emberjs</li>
                              <li>if there is anyone in this room looking looking for someone with these skill please i want to talk to you</li>
                            </aside>
                                  <h4>Humphrey Butau</h4>
																	 @hamub
                        </section>
                        <section>
                          <h2>Have you ever desired a tool that can automate all the boring tasks you repeat when starting a python project?</h2>
                              <aside class="notes">
                                <li>wouldnt it be great if we had a tool that can help us automate project creation?</li>
                              <li>we repeat the same things over and over again</li>
                              <li>when working with differnt technilogies</li>
                              <li>we can make a template for teams</li>
                              <li>Starting a project involving several technologies can be a bit of a hassle. Using cookiecutter, we're able 
                                to start our project, download all of our dependencies and install our python and other environments in 
                                one command</li>
                              <li>some things always get forgotten until the worst possible moment, get cookiecutter to do all the work.</li>
                            </aside>

                        </section>

                        <section>
                          <h2>Do you want to break free from cargo cult programming?</h2>
                          <aside class="notes">
                              <li>cargo cult is when we take configurations from other peoples code</li>
                              <li>we can break away from this by using templates made by experts</li>
                              <li>by so doing we can achieve bps</li>
                            </aside>

                        </section>

                        <section>
                         <img data-src="css/img/cargo.jpg">
<aside class="notes">The name derives from the belief which began among Melanesians in the late 19th and early 20th century that various ritualistic acts such as the building of an airplane runway will result in the appearance of material wealth, particularly highly desirable Western goods (i.e., "cargo"), via Western airplanes.[1][2]
</aside>
                        </section>
                        <section>
                          <blockquote cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
						&ldquo; Cargo cult programming is a style of computer programming characterized by the ritual inclusion of code or program structures that serve no real purpose.
						&rdquo;
					</blockquote><Paste>
</section>

                        <section>
                          <h2>Cookiecutter!</h2>
                              <aside class="notes">
                              <li>cookicutter is a command line project templating tool written in python</li>
                            </aside>

                          </section>

                        <section>
                           <section>

                              <section>
                             <h3>What does cookiecutter do?</h3></section>
                                <ul>
                                  <li> <p class="fragment highlight-current-blue">It takes a cookiecutter compliant template and rolls a project for you</p></li>
                                  <li> <p class="fragment highlight-current-red">It does that by asking a set of questions specified in your template</p></li>
                                 </ul>
                              </section>
                              </section>

                          <section>
                            <section>
                              <h2>Features?</h2>
                              </section>
                              <section>
                                <p class="fragment current-visible"> Cookiecutter runs on Mac, Windows and Linux</p>
                                <p class="fragment current-visible">Easy to work with from the command line</p>
                                <p class="fragment current-visible">Templates can be any language</p>
                                <p class="fragment current-visible">Every file type is templatable (using Jinja2)</p>
                                <p class="fragment current-visible">You can add hooks to automate project creation further more</p>
                                <p class="fragment current-visible">Directory names and filenames can be templated</p>
                                <p class="fragment current-visible">supports unlimited level of directort nesting</p>

                                </section>
                                </section>
                          <section>
                            <section>
                            <h2>Getting started with cookiecutter</h2>
                              <aside class="notes">
                                <li>make sure your version is >= to 1.5</li>
                                </aside>
                              </section>
                              <section>
                                  You can start by installing it in your virtual environment
                                <pre><code class=bash data-trim>
                                  pip install cookiecuttter
                                  </pre></code>
                                      or on Debian systems you could:
                                <pre><code class=bash data-trim>
                                  sudo apt-get install cookiecutter
                                  </pre></code>
                                      or for Mac:
                                <pre><code class=bash data-trim>
                                   brew install cookiecutter
                                  </pre></code>
                                </section>
                                <section>
                                  <aside class="notes">
                                    <li>you can use bit bucket and mecurial too</li>
                                      </aside>
                                   you can start with templates on github  like so:
                                  <pre><code class=bash data-trim>
                                    $ cookiecutter https://github.com/audreyr/cookiecutter-pypackage
                                    </pre></code>
                                      or by using shortcuts:
                                  <pre><code class=bash data-trim>
                                    $ cookiecutter gh:audreyr/cookiecutter-pypackage
                                    </pre></code>
                                      </section>
                                      <section>
                                          you can also specify local cookiecutters:
                                        <pre><code class=bash data-trim>
                                            $ cookiecutter ~/.cookiecutters/cookiecutter-pypackage/
                                            $ cookicutter cookiecutter-pypackage
                                            </pre></code>
                                        </section>
                                      <section>
                                        <pre><code class=bash data-trim>
                                          (pycon) ~  $ python
                                          Python 3.5.2 (default, Nov 17 2016, 17:05:23)
                                          [GCC 5.4.0 20160609] on linux
                                          Type "help", "copyright", "credits" or "license" for more information.

                                          >>> from cookiecutter.main import cookiecutter
                                          >>> cookiecutter("cookiecutter-pypackage")
                                          </pre></code>
                                          </section>
                                            <section>
                                              <h3>jumpstarting a project with cookiecutter</h3>
                                                <aside class="notes">
                                                  <li>it is going to prompt us for values which we provide by typing</li>
                                                  <li>if we dont provide anything by just hitting return it will provide defaults</li>
                                                </aside>
                                              <pre><code class=bash data-trim contenteditable>
                                                  (pyladies) ~/dev/pyconza (master) $ cookiecutter cookiecutter-pypackage
                                                  full_name [Audrey Roy Greenfeld]: Example User
                                                  email [aroy@alum.mit.edu]: user@example.com
                                                  github_username [audreyr]: user
                                                  project_name [Python Boilerplate]: pyconza_project
                                                  project_slug [pyconza_project]:
                                                  project_short_description [Python Boilerplate contains all the boilerplate you need to create a Python package.]: A pyconza project to demonstrate how awesome cookiecutter is
                                                  pypi_username [user]:
                                                  version [0.1.0]:
                                                  use_pytest [n]: y
                                                  use_pypi_deployment_with_travis [y]: y
                                                  Select command_line_interface:
                                                  1 - Click
                                                  2 - No command-line interface
                                                  Choose from 1, 2 [1]: 2
                                                  create_author_file [y]:
                                                  Select open_source_license:
                                                  1 - MIT license
                                                  2 - BSD license
                                                  3 - ISC license
                                                  4 - Apache Software License 2.0
                                                  5 - GNU General Public License v3
                                                  6 - Not open source
                                                  Choose from 1, 2, 3, 4, 5, 6 [1]: 1
                                                  (pyladies) ~/dev/pyconza (master) $ cd pyconza_project/
                                                </pre></code>
                                              </section>
                                              <section>
                                                <pre><code  data-trim >
                                                    (pyladies) ~/dev/pyconza/pyconza_project (master) $ ls
                                                    AUTHORS.rst       docs         LICENSE   MANIFEST.in      README.rst            setup.cfg  tests    travis_pypi_setup.py
                                                    CONTRIBUTING.rst  HISTORY.rst  Makefile  pyconza_project  requirements_dev.txt  setup.py   tox.ini
                                                  (pyladies) ~/dev/pyconza/pyconza_project (master) $ tree
                                                 </pre></code>
                                                </section>
                                            </section>
                                        <section>
                                          <section>
                                            <b>Inside a cookiecutter template</b>
                                            </section>
                                            <section>
                                              <pre><code class=bash data-trim>
                                              |
                                              |
                                              _____cookiecutter.json
                                              |
                                              |
                                              _____{{cookiecutter.project_name}} # this folder contains the metadata
                                                  |
                                                  |____file.txt #this file will not be templated
                                                </pre></code>
                                          </section>

                                            <section>
                                              cookiecutter.json 
                                              <aside class="notes">
                                                contains the context variables
                                                </aside>
                                              <pre><code class=json data-trim>
                                              {
                                                  "project_name": "Project name",
                                                  "author": "Your Name",
                                                  "username": "{{ cookiecutter.author|lower() }}",
                                                  "email": "you@domain.com",
                                                  "create_superuser": "no",
                                                  "repo_name": "{{ cookiecutter.project_name|replace(' ', '_')|lower() }}",
                                                  "module_prefix": "{{ cookiecutter.repo_name|replace('_', '-') }}",
                                                  "python_executable": "python3.5",
                                                  "bootstrap_version": "3.3.7",
                                                  "fontawesome_version": "4.7.0"
                                              }
                                              </pre></code>
                                              </section>
					      <section>
						      directory listing of a cookiecutter template
						      <pre><code class=bash data-trim>
						cc_project_app_drf/
						├── COC.md
						├── COMMIT_EMOJI_CHEATSHEET.md
						├── cookiecutter.json
						├── {{cookiecutter.repo_name}}
						│   ├── COC.md
						│   ├── {{cookiecutter.repo_name}}
						│   │   ├── api_urls.py
						│   │   ├── celery.py
						│   │   ├── __init__.py
						│   │   ├── migrations
						│   │   │   └── __init__.py
						│   │   ├── models.py
						│   │   ├── serializers.py
						│   │   ├── tests
						│   │   │   ├── base.py
						│   │   │   ├── factories.py
						│   │   │   ├── __init__.py
						│   │   │   └── test_api.py
						│   │   ├── views.py
						│   │   └── wsgi.py
						│   ├── environ.py.dist
						│   ├── gitignore.txt
						 </pre></code>
						 </section>
                                              <section>
                                          we can use jinja2 templates
                                          </section>
					  <section>
				  <pre><code class=bash data-trim>
				{% if cookiecutter.create_superuser == 'yes' %}
				  echo "Creating superuper {{ cookiecutter.username }}"
				  python manage.py createsuperuser --username {{ cookiecutter.username }} --email {{ cookiecutter.email }}
				{% endif %}v 
				  </pre></code>
                                 </section>
				 <section>
				 <p>"username": "{{ cookiecutter.author<span class="fragment highlight-red">|lower()</span>}}</p>
	 <p>"module_prefix": "{{cookiecutter.repo_name<span class="fragment highlight-blue">|replace('_', '-')</span>}}</p>



				 </section>
				 </section>
                          <section>
                            <section>
                              <b>Advanced uses of cookiecutter</b>
                              </section>
                              <section>
                                <b>Hooks</b>
                                <aside class="notes">
                                  <li>to support other platforms please use python scripts</li>
                                  <li>if a hook script fails the generation stops and geneted dircry is cleaned up</li>
                                  </aside>
                                <p>cat hooks/post_gen_project.sh</p>
                                  <pre><code class=bash data-trim>
                                  #!/bin/bash
                                  USER="{{ cookiecutter.username }}"
                                  EMAIL="{{ cookiecutter.email }}"
                                  if [ `which virtualenv|grep virtualenv 2>/dev/null` ]
                                  then
                                  virtualenv -p {{ cookiecutter.python_executable }} venv
                                  else
                                  {{cookiecutter.python_executable}} -m venv venv
                                  fi
                                  source venv/bin/activate
                                  cd back
                                  echo "Installing backend dependencies"
                                  pip install --upgrade pip setuptools
                                  pip install -r requirements.txt
                                  pip freeze --local > requirements.txt
                                  cp environ.py.dist environ.py
                                  python manage.py migrate --noinput
                                  {% if cookiecutter.create_superuser == 'yes' %}
                                  echo "Creating superuper {{ cookiecutter.username }}"
                                  python manage.py createsuperuser --username {{ cookiecutter.username }} --email {{ cookiecutter.email }}
                                  {% endif %}
                                  deactivate
                                  </pre></code>
                              </section>
                              <section>
                                <b>replay your cookiecutter</b>
                                <pre><code class=bash data-trim>
                                  cookiecutter --replay gh:audreyr/cookiecutter-pypackage
                                  </pre></code>

                              </section>

                              <section>
                                <b>calling cookiecutter from python</b>
                                <aside class="notes">
                                  <li>this can be useful when creating web-frameworks like the ember-cli, django-admin start project</li>
                                  </aside>
                                <pre><code class=bash data-trim>
                                  from cookiecutter.main import cookiecutter
                                  # Create project from the cookiecutter-pypackage/ template
                                  cookiecutter('cookiecutter-pypackage/')
                                  # Create project from the cookiecutter-pypackage.git repo template
                                  cookiecutter('https://github.com/audreyr/cookiecutter-pypackage.git')
                                  cookiecutter --replay gh:audreyr/cookiecutter-pypackage
                                  </pre></code>

                              </section>

                              <section>
                                <b>Choice variables</b>
                                <aside class="notes">
                                  <li>prompt users to make choices</li>
                                  </aside>
                                <pre><code class=json data-trim>
                                {
                                  "postgresql_version": ["9.6", "9.5", "9.4", "9.3", "9.2"],
                                  "open_source_license": ["MIT", "BSD", "GPLv3", "Apache Software License 2.0", "Not open source"],
                                  "js_task_runner": ["Gulp", "Grunt", "None"]
                                }
                                  </pre></code>

                                </section>
                          </section>
                          <section>
                            <section>
                              <b>My select cookiecutter templates</b>
                            </section>
                              <section>
                                <b>cookiecutter pypackage</b>
                                </section>
                                <section>
                                  <p> Travis-CI: Ready for Travis Continuous Integration testing</p>
                                 <pre><code class=python data-trim> 
                                    # Config file for automatic testing at travis-ci.org
                                        # This file will be regenerated if you run travis_pypi_setup.py

                                    language: python
                                    python:
                                      - 3.5
                                      - 3.4
                                      - 3.3
                                      - 2.7
                                      - 2.6

                                    # command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
                                    install: pip install -U tox-travis

                                    # command to run tests, e.g. python setup.py test
                                    script: tox

                                    {% if cookiecutter.use_pypi_deployment_with_travis == 'y' -%}
                                    # After you create the Github repo and add it to Travis, run the
                                    # travis_pypi_setup.py script to finish PyPI deployment setup
                                    deploy:
                                      provider: pypi
                                      distributions: sdist bdist_wheel
                                      user: {{ cookiecutter.pypi_username }}
                                      password:
                                        secure: PLEASE_REPLACE_ME
                                      on:
                                        tags: true
                                        repo: {{ cookiecutter.github_username }}/{{ cookiecutter.project_slug }}
                                        python: 2.7
                                    {%- endif %}
                                      </pre></code>
                                  .travis.yml
                                </section>
                                <section>
                                  Tox testing: Setup to easily test for Python 2.6, 2.7, 3.3, 3.4, 3.5<Paste>
																	<pre><code class=python data-trim>
																	[tox]
																	envlist = py26, py27, py33, py34, py35, flake8

																	[travis]
																	python =
																			3.5: py35
																			3.4: py34
																			3.3: py33
																			2.7: py27
																			2.6: py26

																	[testenv:flake8]
																	basepython=python
																	deps=flake8
																	commands=flake8 {{ cookiecutter.project_slug }}

																	[testenv]
																	setenv =
																			PYTHONPATH = {toxinidir}
																	{% if cookiecutter.use_pytest == 'y' -%}
																	deps =
																			-r{toxinidir}/requirements_dev.txt
																	commands =
																			pip install -U pip
																			py.test --basetemp={envtmpdir}
																	{% else %}
																	commands = python setup.py test
																	{%- endif %}
																	</pre></code>
																	tox.ini
																	</section>
																	<section>
																	<pre><code class=bash data-trim>
																	Get Started!
																	------------

																	Ready to contribute? Here's how to set up `{{ cookiecutter.project_slug }}` for local development.

																	1. Fork the `{{ cookiecutter.project_slug }}` repo on GitHub.
																	2. Clone your fork locally::

																			$ git clone git@github.com:your_name_here/{{ cookiecutter.project_slug }}.git

																			3. Install your local copy into a virtualenv. Assuming you have virtualenvwrapper installed, this is how you set up your fork for local development::

																					$ mkvirtualenv {{ cookiecutter.project_slug }}
																							$ cd {{ cookiecutter.project_slug }}/
																									$ python setup.py developk
																	</pre></code>
																	CONTRIBUTING.rst
																	</section>
																	
                                <section>
                                  <b>Levit's Django CookieCutter template for Django + Ember apps</b>
                                  </section>
                                  <section>
																	<p>
                                    <ul class="org-ul">
                                  <li>Django</li>
                                  <li>Django Rest Framework</li>
                                  <li>Django Filter</li>
                                  <li>Django CORS headers</li>
                                  <li>Celery</li>
                                  <li> Django Debug Toolbar and Django Debug Panel</li>
                                   <li>Factory Boy</li>
                                   <li>Ember</li>
                                   <li>ember-django-adapter</li>
                                   <li>ember-simple-auth</li>
																	</ul>
																	</p>
                                 </section>
                                </section>
                                </section>
                          <section>
                            <section>
                                These dont match your requirements?
                                </section>
                                <section>
                                </section>
                            <section>
                            <b>Demo!</b>
                            </section>

                              <section>
                              template1/cookiecutter.json
                              <pre><code class=json data-trim>
                                {
                                    "repo_name": "reponame",
                                    "full_name": "Buddy Lindsey",
                                    "config": "wasup"
                                }
                                </pre></code>
                                </section>
                                <section>
                                  <pre><code class=bash data-trim>
                                    mkdir template1/ vim template1//file.txt

                                    Name: {{cookiecutter.full_name}}
                                    Email: {{cookiecutter.email}}
                                    Config: {{cookiecutter.config}}
                                    </pre></code>
                                </section>


<section id="sec-15">
 <h2>Questions?</h2>
<p>
  Thanks for listening!
</p>

<p>
  hbutau35@gmail.com
</p>

<p>
  @hamub
</p>


                          </section>








                  </div>
                </div>
            <script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,
                controls: true,
				progress: true,
				history: true,
				center: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
        </body>
</html>
